/*

  Keyframes
*/

@keyframes pulse {
  0% {
    opacity: 0.1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


/*

  Vue transitions
*/

.fade-enter-active {
  transition: opacity 0.5s ease;
}

.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slide-l-enter-active,
.slide-r-enter-active {
  transition: all 0.5s ease;
}

.slide-l-leave-active,
.slide-r-leave-active {
  transition: all 0.2s ease;
}

.slide-r-enter-from {
  transform: translateX(-10px);
  opacity: 0;
}

.slide-r-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

.slide-l-enter-from {
  transform: translateX(10px);
  opacity: 0;
}

.slide-l-leave-to {
  transform: translateX(-10px);
  opacity: 0;
}
