@layer components {
  html,
  body {
    @apply tw-text-white tw-bg-dark tw-h-full;
    @apply tw-font-sans tw-leading-normal;
    font-size: 125%;
    font-size: 20px;

    text-size-adjust: 100%;
    font-feature-settings: "liga" 1;
  }

  ::selection {
    @apply tw-text-dark tw-bg-white;
  }

  ::-moz-selection {
    @apply tw-text-dark tw-bg-white;
  }
}
