/*

  Basic
*/

/* stylelint-disable selector-max-type */
html,
body {
  height: 100%;
  color: var(--cl-text);
  background: var(--cl-bg-base);
}
/* stylelint-enable selector-max-type */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*

  Miscs
*/

::selection {
  color: #fff;
  background: #333;
}

::-moz-selection {
  color: #fff;
  background: #333;
}
