:root {
  --ft-sans-serif: "Lato", Helvetica, Arial, sans-serif;

  --cl-border: #555;
  --cl-bg-base: #333;

  --cl-text: #fff;
}

@custom-media --bp-large screen and (width >= 1100px);
@custom-media --bp-medium screen and (width >= 700px) and (width <= 1099px);
@custom-media --bp-small screen and (width <= 699px);
