
.loading-cue {
  font-size: 1.5em;

  display: flex;

  animation: pulse 3s infinite;

  justify-content: center;
  align-items: center;
  flex-grow: 1;

  @media (--bp-large) {
    font-size: 3em;
  }
}
