
.location {

  overflow: hidden;
  font-size: 1.5em;
  font-weight: 200;
  text-overflow: ellipsis;

  white-space: nowrap;

  @media (--bp-medium) {
    margin: 0;
    font-size: 1.5em;
  }

  @media (--bp-large) {
    margin: 0;
    font-size: 3em;
  }
}
