
.salat-next {
  flex-grow: 1;

  padding: 15px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @media (--bp-medium) {
    max-width: 56%;
    padding: 0 2%;
    flex-grow: 2;
  }

  @media (--bp-large) {
    max-width: 56%;
    padding: 0 1.5%;
    flex-grow: 2;
  }
}

.salat-today {
  padding: 15px;
  flex-grow: 2;

  @media (--bp-medium) {
    font-size: 1.25em;
    line-height: 1.695;

    padding: 0 2%;

    box-shadow: -1px 0 0 0 var(--cl-border);
    flex-grow: 1;
  }

  @media (--bp-large) {
    font-size: 3em;
    line-height: 1.55;

    padding: 0 1.5%;

    box-shadow: -1px 0 0 0 var(--cl-border);
    flex-grow: 1;
  }
}

.salat-items {
  overflow: auto;

  list-style-type: none;

  margin: 0;
}

.salat-item {
  overflow: auto;
}

.salat__name {
  float: left;

  font-weight: 700;
  text-transform: capitalize;

  &--next {
    float: none;
    font-size: 2em;
    line-height: 1;
    margin-bottom: .175em;

    @media (--bp-medium) {
      font-size: 3em;
      margin-bottom: 0;
    }

    @media (--bp-large) {
      font-size: 6em;
      margin-bottom: 0;
    }
  }
}

.salat__time {
  float: right;

  &--next {
    float: none;
    font-size: 3em;
    font-weight: 200;
    line-height: 1;

    @media (--bp-medium) {
      font-size: 4.5em;
    }

    @media (--bp-large) {
      font-size: 7.5em;
      line-height: 1.5;
    }
  }
}
