/*

  Basic
*/

html,
body {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: var(--cl-bg-base);

  color: var(--cl-text);
}


/*

  Lists
*/

ul {
  margin: 0;
  margin-bottom: 1.6em;
  padding: 0;
}

ul {
  list-style: disc;
}


/*

  Miscs
*/

::selection {
  background: #333333;

  color: #FFFFFF;
}

::-moz-selection {
  background: #333333;

  color: #FFFFFF;
}
