
/*

  Base
*/

body {
  font-family: var(--ft-sans-serif);
  font-size: 125%;
  font-size: 20px;
  line-height: 1.5;

  -webkit-text-size-adjust: 100%;
  font-feature-settings: "liga" 1;
}


/*

  Headings
*/

h1 {
  font-family: var(--ft-sans-serif);
  font-size: 1em;
  font-weight: 400;

  margin: 0;
  padding: 0;
}
