
/*

  Base
*/

body
{
    font-family: var(--ft-sans-serif);
    font-size: 125%;
    font-size: 20px;
    line-height: 1.5;

    -webkit-text-size-adjust: 100%;
    font-feature-settings: 'liga' 1;
}


/*

  Headings
*/

h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: var(--ft-sans-serif);
    font-weight: 400;

    margin: 0;
}
