:root {
  --ft-sans-serif: "Lato", Helvetica, Arial, sans-serif;

  --cl-bg-header: #333;
  --cl-border:    #555;
  --cl-bg-base:   #fff;

  --cl-text:         #333;
  --cl-text-inverse: #fff;
}

@custom-media --bp-large screen and (width >= 1200px);
@custom-media --bp-medium screen and (width >= 700px) and (width <= 1199px);
@custom-media --bp-small screen and (width <= 699px);
