.app {
  display: flex;

  min-height: 100%;
  flex-direction: column;

  justify-content: flex-start;
}

.app-content {
  display: flex;
  flex-direction: column;

  flex-grow: 2;
  align-items: inherit;
}
