.salat-layout {
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  flex-grow: 2;
  padding: 10px 15px;

  @media (--bp-medium) {
    padding: 1.5% 2%;
    grid-auto-flow: column;
  }

  @media (--bp-large) {
    padding: 1% 1.5%;
    grid-auto-flow: column;
  }
}

.salat-next {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.salat-schedule {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media (--bp-medium) {
    justify-content: center;
  }

  @media (--bp-large) {
    justify-content: center;
  }
}

.salat-schedule__heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media (--bp-small) {
    margin-top: 1.5em;
    margin-bottom: 0.75em;
  }
}

.salat-schedule__switcher {
  font-size: 1.75em;
  line-height: 1;

  @media (--bp-small) {
    font-size: 1.25em;
  }
}

.salat-schedule__switch {
  cursor: pointer;
}

.salat-schedule__switch--inactive {
  color: var(--cl-bg-base);
  cursor: default;
}

.salat-items {
  padding: 0;
  margin: 0;
  overflow: auto;

  list-style-type: none;

  @media (--bp-medium) {
    font-size: 1.25em;
    line-height: 1.695;
  }

  @media (--bp-large) {
    font-size: 3em;
    line-height: 1.55;
  }
}

.salat-item {
  overflow: auto;
}

.salat__name {
  float: left;

  font-weight: 700;
  text-transform: capitalize;

  &--next {
    float: none;
    margin-bottom: 0.175em;
    font-size: 2em;
    line-height: 1;

    @media (--bp-medium) {
      margin-bottom: 0;
      font-size: 3em;
    }

    @media (--bp-large) {
      margin-bottom: 0;
      font-size: 6em;
    }
  }
}

.salat__time {
  float: right;

  &--next {
    float: none;
    font-size: 3em;
    font-weight: 200;
    line-height: 1;

    @media (--bp-medium) {
      font-size: 4.5em;
    }

    @media (--bp-large) {
      font-size: 7.5em;
      line-height: 1.5;
    }
  }
}
