.salat-layout {
  display: flex;
  flex-direction: column;

  flex-grow: 2;
  align-items: inherit;

  @media (--bp-medium) {
    flex-direction: row;

    align-items: center;
  }

  @media (--bp-large) {
    flex-direction: row;

    align-items: center;
  }
}

.salat-next {

  display: flex;

  padding: 15px;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;

  @media (--bp-medium) {
    max-width: 56%;
    padding: 0 2%;
    flex-grow: 2;
  }

  @media (--bp-large) {
    max-width: 56%;
    padding: 0 1.5%;
    flex-grow: 2;
  }
}

.salat-schedule {
  padding: 15px;
  flex-grow: 2;

  @media (--bp-medium) {
    padding: 0 2%;
    flex-grow: 1;
  }

  @media (--bp-large) {
    padding: 0 1.5%;
    flex-grow: 1;
  }
}

.salat-schedule__heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.salat-schedule__switcher {
  font-size: 1.75em;
  line-height: 1;
}

.salat-schedule__switch {
  cursor: pointer;
}

.salat-schedule__switch--inactive {
  color: var(--cl-bg-base);
  cursor: default;
}

.salat-items {
  padding: 0;
  margin: 0;
  overflow: auto;

  list-style-type: none;

  @media (--bp-medium) {
    font-size: 1.25em;
    line-height: 1.695;
  }

  @media (--bp-large) {
    font-size: 3em;
    line-height: 1.55;
  }
}

.salat-item {
  overflow: auto;
}

.salat__name {
  float: left;

  font-weight: 700;
  text-transform: capitalize;

  &--next {
    float: none;
    margin-bottom: 0.175em;
    font-size: 2em;
    line-height: 1;

    @media (--bp-medium) {
      margin-bottom: 0;
      font-size: 3em;
    }

    @media (--bp-large) {
      margin-bottom: 0;
      font-size: 6em;
    }
  }
}

.salat__time {
  float: right;

  &--next {
    float: none;
    font-size: 3em;
    font-weight: 200;
    line-height: 1;

    @media (--bp-medium) {
      font-size: 4.5em;
    }

    @media (--bp-large) {
      font-size: 7.5em;
      line-height: 1.5;
    }
  }
}
