.app {
  display: flex;
  flex-direction: column;

  min-height: 100%;

  justify-content: flex-start;
}

.app-content {
  flex-grow: 2;

  align-items: inherit;

  display: flex;
  flex-direction: column;

  @media (--bp-medium) {
    flex-direction: row;
    align-items: center;
  }

  @media (--bp-large) {
    flex-direction: row;
    align-items: center;
  }
}
