.app-header {
  background-color: var(--cl-bg-header);

  font-size: .75em;
  line-height: 2;

  width: 100%;
  padding: 10px 15px;

  color: var(--cl-text-inverse);

  @media (--bp-medium) {
    font-size: 1.25em;
    line-height: 1.5;

    padding: 1.5% 2%;
  }

  @media (--bp-large) {
    font-size: 1.5em;
    line-height: 1.5;

    padding: 1.5%;
  }
}

.app__title {
  float: left;
}
