
.notification {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-grow: 1;

  @media (--bp-medium) {
    font-size: 1.5em;
  }

  @media (--bp-large) {
    font-size: 3em;
  }
}
