
.salat-list {
  border-top: solid .05em var(--cl-border);
  padding-top: .7em;

  @media (--bp-medium) {
    font-size: 1.25em;
    line-height: 1.695;

    padding-left: .75em;
    padding-top: 0;

    border-top: none;
    border-left: solid 1px var(--cl-border);
  }

  @media (--bp-large) {
    font-size: 3em;
    line-height: 1.55;

    padding-left: .75em;
    padding-top: 0;

    border-top: none;
    border-left: solid 1px var(--cl-border);
  }
}

.salat-items {
  overflow: auto;

  list-style-type: none;
}

.salat-item {
  overflow: auto;
}

.salat {

  &--next {
    margin: 3em 0 .75em;

    @media (--bp-medium) {
      margin: 0;
    }

    @media (--bp-large) {
      margin: 0;
    }
  }
}

.salat__name {
  float: left;

  font-weight: 700;
  text-transform: capitalize;

  &--next {
    float: none;
    font-size: 2em;
    line-height: 1;
    margin-bottom: .175em;

    @media (--bp-medium) {
      font-size: 3em;
      margin-bottom: 0;
    }

    @media (--bp-large) {
      font-size: 6em;
      margin-bottom: 0;
    }
  }
}

.salat__time {
  float: right;

  &--next {
    float: none;
    font-size: 3em;
    font-weight: 200;
    line-height: 1;

    @media (--bp-medium) {
      font-size: 4.5em;
    }

    @media (--bp-large) {
      font-size: 7.5em;
      line-height: 1.5;
    }
  }
}
