doctype html
html(lang="en")
  head
    meta(http-equiv="Content-type", content="text/html; charset=utf-8")
    link(rel="stylesheet", href="asset/stylesheet/app.css")
    title Praytime

  body
    div#app
      app
    script(type="text/javascript", src="asset/javascript/app.js")
